body {
    font-family: sans-serif;
    padding: 0em;
    font-size: 2em;
    width: 100%;
    margin: 0em;
    background-color: white;
    color: black;
}

.main {
    width: 90%;
    margin: 1em auto;
}

input, textarea, button, p, div, section, article, select {
    display: 'block';
    width: 100%;
    font-family: sans-serif;
    font-size: 1em;
    padding: 0em;
}

.message {
    margin: 0.5em Auto;
}

.event {
    background-color: transparent;
    margin: 0.5em Auto;
}

.event-message {
    background-color: #3a414e;
    border-bottom: 8px solid #53c0a5;
    padding: 0.25em;
    width: calc(100% - 0.5em);
}

.event-message .message{
    font-weight: bold;
    margin-left: 0.5em;
}

.event-type span{
    color: #53c0a5;
    font-size: .75em;
    font-weight: bold;
}

.dark-mode {
    background-color: #2a102f;
    color: #fefefe;
}

#meta {
    position: absolute;
    top: 10px;
    right: 20px;
    text-align: right;
}

.moderator {
    color: rgb(255,255,255);
    background: url("assets/icons/moderator.svg") rgb(52,174,10);
    background-size: 1.6rem;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0.2rem;
    padding-left: 2rem;
    margin-right: 0.5rem;
}

.vip {
    color: rgb(255,255,255);
    background: url("assets/icons/vip.svg") rgb(179,63,240);
    background-size: 1.6rem;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0.2rem;
    padding-left: 2rem;
    margin-right: 0.5rem;
}
